@using Microsoft.AspNetCore.Mvc.Localization
@using SecretNest.TeamPlayer.Entity
@model GameWithIndex
@inject FacadeService FacadeService
@inject IViewLocalizer ViewLocalizer
@{
	var team1 = FacadeService.Facade.GetTeam(TeamSelection.Team1);
	var team2 = FacadeService.Facade.GetTeam(TeamSelection.Team2);
	var races = FacadeService.Facade.GetBasis().Races;
	var maps = FacadeService.Facade.GetMaps();
	var emptyGuid = Guid.Empty;
}

<div class="d-flex w-100 justify-content-center">
	<h4>@ViewLocalizer["第 {0} 轮第 {1} 场", Model.RoundIndex + 1, Model.GameIndex + 1]</h4>
</div>

<div class="card-group mt-3">
	<div class="card text-center">
		<div class="card-header"><a asp-controller="Home" asp-action="Team" asp-route-team="Team1">@team1.Name</a></div>
		<div class="card-body">
			<div>
				@if (team1.Players.TryGetValue(Model.PlayerIds[TeamSelection.Team1], out var player1))
				{
					<span><a asp-controller="Home" asp-action="Player" asp-route-team="Team1" asp-route-id="@Model.PlayerIds[TeamSelection.Team1]">@player1.Name</a></span>
				}
				else
				{
					<span class="text-muted">暂无选手</span>
				}
			</div>
			<div>
				@if (races.TryGetValue(Model.RaceIds[TeamSelection.Team1], out var race1))
				{
					<span>@race1.Name</span>
				}
				else
				{
					<span class="text-muted">暂无种族</span>
				}
			</div>

			@if (Model.GameResult == GameResult.Team1Win)
			{
				<hr />
				<h3><span class="badge badge-success">胜利</span></h3>
			}
			else if (Model.GameResult == GameResult.Team2Win)
			{
				<hr />
				<h3><span class="badge badge-danger">失败</span></h3>

			}
		</div>

	</div>
	<div class="card text-center">
		<div class="card-header">比赛信息</div>
		<div class="card-body">
			<div>
				@if (maps.TryGetValue(Model.MapId, out var map))
				{
					<span>@map.Name</span>
				}
				else
				{
					<span class="text-muted">暂无地图</span>
				}
			</div>
			<div>
				@if (Model.GameTime != DateTime.MinValue)
				{
					if (Model.IsTimeIncluded)
					{
						<span>@Model.GameTime.ToString("g")</span>
					}
					else
					{
						<span>@Model.GameTime.ToString("d")</span>
					}
				}
				else
				{
					<span class="text-muted">暂无时间</span>
				}
			</div>
			<div>
				@switch (Model.GameResult)
				{
					case GameResult.Team1Win:
					case GameResult.Team2Win:
						break;
					case GameResult.InGame:
						<h3><span class="badge badge-primary">正在比赛</span></h3>
						break;
					default:
						<span>@Model.GameResult.GetDisplayString()</span>
						break;
				}
			</div>

			@if (!string.IsNullOrEmpty(Model.Description))
			{
				<p class="text-muted">@Model.Description</p>
			}

		</div>
	</div>


	<div class="card text-center">
		<div class="card-header"><a asp-controller="Home" asp-action="Team" asp-route-team="Team2">@team2.Name</a></div>
		<div class="card-body">
			<div>
				@if (team2.Players.TryGetValue(Model.PlayerIds[TeamSelection.Team2], out var player2))
				{
					<span><a asp-controller="Home" asp-action="Player" asp-route-team="Team1" asp-route-id="@Model.PlayerIds[TeamSelection.Team2]">@player2.Name</a></span>
				}
				else
				{
					<span class="text-muted">暂无选手</span>
				}
			</div>
			<div>
				@if (races.TryGetValue(Model.RaceIds[TeamSelection.Team2], out var race2))
				{
					<span>@race2.Name</span>
				}
				else
				{
					<span class="text-muted">暂无种族</span>
				}
			</div>

			@if (Model.GameResult == GameResult.Team1Win)
			{
				<hr />
				<h3><span class="badge badge-danger">失败</span></h3>
			}
			else if (Model.GameResult == GameResult.Team2Win)
			{
				<hr />
				<h3><span class="badge badge-success">胜利</span></h3>

			}

		</div>
	</div>
</div>

@if (!string.IsNullOrEmpty(Model.Description))
{
	<p class="text-muted">@Model.Description</p>
}
