@using Microsoft.AspNetCore.Mvc.Localization
@using SecretNest.TeamPlayer.Entity
@model GameWithIndex
@inject FacadeService FacadeService
@inject IViewLocalizer ViewLocalizer
@{
	var team1 = FacadeService.Facade.GetTeam(TeamSelection.Team1).Players;
	var team2 = FacadeService.Facade.GetTeam(TeamSelection.Team2).Players;
	var races = FacadeService.Facade.GetBasis().Races;
	var maps = FacadeService.Facade.GetMaps();
	var emptyGuid = Guid.Empty;
}

<div class="d-flex w-100 justify-content-center">
	<h4>@ViewLocalizer["第 {0} 轮第 {1} 场", Model.RoundIndex + 1, Model.GameIndex + 1]</h4>
</div>

<div class="card-group mt-3">
	<div class="card text-center">
		<div class="card-header">队伍一</div>
		<div class="card-body">
			<div>
				@if (team1.TryGetValue(Model.PlayerIds[TeamSelection.Team1], out var player1))
				{
					<span>@player1.Name</span>
				}
				else
				{
					<span class="text-muted">暂无选手</span>
				}
			</div>
			<div>
				@if (races.TryGetValue(Model.RaceIds[TeamSelection.Team1], out var race1))
				{
					<span>@race1.Name</span>
				}
				else
				{
					<span class="text-muted">暂无种族</span>
				}
			</div>
		</div>

	</div>
	<div class="card text-center">
		<div class="card-header">比赛信息</div>
		<div class="card-body">
			<div>
				@if (maps.TryGetValue(Model.MapId, out var map))
				{
					<span>@map.Name</span>
				}
				else
				{
					<span class="text-muted">暂无地图</span>
				}
			</div>
			<div>@Model.GameResult.GetDisplayString()</div>

		</div>
	</div>


	<div class="card text-center">
		<div class="card-header">队伍二</div>
		<div class="card-body">
			<div>
				@if (team2.TryGetValue(Model.PlayerIds[TeamSelection.Team2], out var player2))
				{
					<span>@player2.Name</span>
				}
				else
				{
					<span class="text-muted">暂无选手</span>
				}
			</div>
			<div>
				@if (races.TryGetValue(Model.RaceIds[TeamSelection.Team2], out var race2))
				{
					<span>@race2.Name</span>
				}
				else
				{
					<span class="text-muted">暂无种族</span>
				}
			</div>
		</div>
	</div>
</div>

@if (!string.IsNullOrEmpty(Model.Description))
{
	<p class="text-muted">@Model.Description</p>
}
