@using Microsoft.AspNetCore.Mvc.Localization
@using Sakura.AspNetCore.Mvc
@inject FacadeService FacadeService
@inject IViewLocalizer ViewLocalizer
@model IEnumerable<SecretNest.TeamPlayer.Entity.GameWithIndex>
@{
	var round = (int)ViewBag.Round;
	ViewBag.Title = ViewLocalizer["结果管理 - 第 {0} 轮", round];

	// 轮次数目
	var rounds = FacadeService.Facade.GetBasis().RoundCount;
	var options = new PagerOptions();
	options.ConfigureDefault();
	options.ExpandPageItemsForCurrentPage = rounds;
}



<div class="alert alert-info">
	本页面用于管理系统中所有记录比赛的结果。要开始，请首先选择一个轮次。<br />
	<strong>注意：你每次只能更新一场比赛。保存单场比赛信息后，对其他场次的更改将被忽略。</strong>
</div>


@if (rounds == 0)
{
	<p class="text-center text-muted">没有任何轮次。请先在 <a asp-controller="Manage" asp-action="Basis">基本设置</a> 页面中设定轮次。</p>
}
else
{
	<div class="d-flex justify-content-center">
		<pager total-page="@rounds" current-page="@round" options="@options" item-default-content="@PagerItemContentGenerators.TextFormat("第 {0} 轮")" item-default-link="@PagerItemLinkGenerators.QueryName("round")" />
	</div>

	<hr />

	if (Model.Any())
	{
		<div>
			@foreach (var game in Model)
			{
				// 隐藏的定位点
				<div id="@(game.GameIndex + 1)" style="position: relative; top: -4.5rem; visibility: hidden;"></div>

				<div class="card mt-3">
					<div class="card-body">
						<partial name="_GamePartial" model="@game" />
					</div>
				</div>
			}
		</div>
	}
	else
	{
		<p class="text-muted text-center">没有找到本轮次的任何比赛信息。请检查轮次设定是否正确或者重新生成轮次。</p>
	}

}

@section Header{


	<environment include="Development">
		<link rel="stylesheet" href="~/lib/jquery-datetimepicker/jquery.datetimepicker.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
			  integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"
			  asp-fallback-test-class=".xdsoft_datetimepicker"
			  asp-fallback-test-property="display"
			  asp-fallback-test-value="none"
			  asp-fallback-href="~/lib/jquery-datetimepicker/jquery.datetimepicker.min.css" />
	</environment>

}

@section Scripts{

	<partial name="_DateTimePickerPartial" />

	<script>

		function changeDefaultRace(ele) {
			var raceSelector = $(ele).closest('.form-group').next().find('select');
			var defaultRace = $(':selected', ele).data('default-race');
			raceSelector.val(defaultRace);
		}

		function setCurrentTime(ele) {

			var inputEle = $(ele).closest('.form-group').find('input');
			$(inputEle).val(moment().format('YYYY/MM/DD hh:mm'));
		}

	</script>
}